{% extends 'master.html' %}

{% block body %}
<section id="form" style="margin-left: 30%;"><!--form-->
    <div class="container">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form"><!--login form-->
                <h2> Nova palavra-passe </h2>
                        {% if validlink %}
						<form method="post">
							{% csrf_token %}

							{% for field in form %}
							
                            {{ field.errors }}
							<label>{{field.label_tag}}</label>
                            <p>{{ field }}</p>
                            
                            {% endfor %}
                            <button type="submit" class="btn btn-default">Entrar</button>
                            <br>
                            
                        </form>
                        <p style="color: red">Invalid Token</p>
                        <p>
                            <a href="{% url 'password_reset' %}">
                                Requisitar novo token de reset de palavra-passe
                            </a>
                        </p>

                        {% endif %}
            </div><!--/login form-->
        
        </div>
    </div>
</section>

{% endblock %}